/************* Main Styles ***************/
header {
    width:100%;
    float:left;
    font-family: sans-serif;
    text-align: center;
    background-color: #CCCCCC;
    line-height:0;
    padding-bottom:1%;
    margin-top:1%;
}

header img {
    margin: 0 auto;
    width: 100%;
    display:block;
}

nav{
    width: 20%;
    float: left;
    /*background-color: deeppink;*/
    line-height: 1.6;
    margin-top: 10px;
}

main{
    width: 70%;
    float: left;
    font-size: large;
    margin-top: 15px;
    min-height: 500px;
    /*background-color: darkorange;*/
}

footer{
    width:100%;
    float:left;
    text-align:center;
    font-size:small;
    font-weight:bold;
    background-color: #CCCCCC;
}

main img{
    display: block;
    margin: 0 auto;
    width: 128px;
}

main p{
    text-indent: 25px;
    margin-top: 30px;
    text-align: center;
}

p {
    text-align: center;
}

.customerInfo {
    width: 500px;


}

.customerInfo li{
    text-align: center;
}

/******************* Menu Styles *******************/
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F1F1F1;
    border: 1px solid #555555;
}

nav li {
    text-align: center;
    border-bottom: 1px solid #555555;
}

li a{
    display: block; /* normally inline */
    color: #000; /* #000 means no pixels */
    padding: 8px 0 8px 16px;
    text-decoration: none;
}


/***************** Menu Hover **********************/

nav ul li a:hover{
    background-color: #555;
    color: white;
}

nav ul li:last-child{
    border-bottom:none;
}

/***** Table ******/

table {
    margin:auto;
    border-collapse: collapse;
}

h3 {
    text-align: center;
}
/******************** Classes **********************/
.left {
    float: left;
}

.right {
    float: right;
}

.success{
    color: green;
    font-weight: bold;
}

.error{
    color: red;
    font-weight: bold;
}

